.bg-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 40vh;
    background-color: rgba(0, 0, 0, 1);
}
section{
    margin-bottom: 2em !important;
}


.title{
    filter: brightness(1.25);
    color: rgb(221, 194, 158);
}
.big-title {
    font-size: 10vh;
}
.text-white {
    color: white !important;
}


.image-header {
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh; 
}

.bg-dark {
    opacity: 0.75;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#nav{
    filter: brightness(1.5);
}

@media only screen and (max-width: 600px) {
    .big-title {
        font-size: 7vh;
    }
    .image-header {
        height: 70vh; 
    }
}